<section>
  <div id="visits_line_chart"></div>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= @countries.visited.count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= @countries.not_visited.count %></td>
      </tr>
    </table>
  </div>
  <h1>Countries</h1>
  <div class="smart_table">
    <%= form_tag visit_all_countries_path(@country) do %>
      <%= text_field_tag :filter, nil, :class => 'filter' %>
      <button name="button" type="button" class="select_all">Select All</button>
      <%= submit_tag "Visit Selected" %>
      <table>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>

      <% @countries.each do |country| %>
        <tr>
          <td class='name'><%= country.name %></td>
          <td><%= country.code %></td>
          <td class='status'><%= country.visited? ? 'Visited' : 'Not Visited' %></td>
          <td><%= link_to 'Show', country %></td>
          <td><%= check_box_tag 'countries[]', country.code, false, :disabled => country.visited?, :class => "select_row" %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
  </div>
</section>