<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Code:</b>
  <%= @country.code %>
</p>

<p>
  <b>Status:</b>
  <%= @country.visited? ? 'Visited' : 'Not Visited' %>
</p>

<p>
  <b>Currencies:</b>
  <ul>
    <% @country.currencies.each do |currency| %>
      <li><%= link_to currency.name, currency %></li>
    <% end %>
  </ul>
</p>

<p>
  <% if @country.visited? %>
    <%= form_tag unvisit_country_path(@country), :method => :delete do %>
      <%= submit_tag "Delete Visit" %>
    <% end %>
  <% else %>
    <%= form_tag visit_country_path(@country) do %>
      <%= submit_tag "Visit" %>
    <% end %>
  <% end %>
</p>
<%= link_to 'Back', countries_path %>