<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'extensions', 'jquery-1.5.2.min', 'view_controller', 'simple_pie_chart', 'smart_table', 'highcharts' %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <h1>CurrencyTracker</h1>
  <nav>
    <ul>
      <% if current_user %>
        <li><%= link_to "Currencies", currencies_path %></li>
        <li><%= link_to "Countries", countries_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>

<%= yield %>

<footer>
  CurrencyTracker &copy; Copyright 2011 by Smart Enterprises.
</footer>
</body>
</html>
